/* 593 of 5297 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/


/* body {direction:rtl;} */

.mark,
mark {
    background: #4fc1f0 none repeat scroll right 0;
}

.f-left {
    float: right;
}

.f-right {
    float: left;
}

input {
    padding-right: 10px;
}

option {
    padding-right: 10px;
}

.input-group.divcenter.input-group .form-control {
    padding-right: 0px;
}

.m-0 {
    margin-left: 0;
    margin-right: 0;
}

.p-0 {
    padding-left: 0;
    padding-right: 0;
}

.mr-0 {
    margin-left: 0px;
}

.mr-10 {
    margin-left: 10px;
}

.mr-12 {
    margin-left: 12px;
}

.mr-15 {
    margin-left: 15px;
}

.mr-20 {
    margin-left: 20px;
}

.mr-30 {
    margin-left: 30px;
}

.mr-35 {
    margin-left: 35px;
}

.mr-40 {
    margin-left: 40px;
    margin-right: 0;
}

.mr-50 {
    margin-left: 50px;
}

.mr-60 {
    margin-left: 60px;
}

.mr-70 {
    margin-left: 70px;
}

.mr-80 {
    margin-left: 80px;
}

.mr-90 {
    margin-left: 90px;
}

.mr-100 {
    margin-left: 100px;
}

.mr-110 {
    margin-left: 110px;
}

.mr-120 {
    margin-left: 120px;
}

.mr-130 {
    margin-left: 130px;
}

.mr-140 {
    margin-left: 140px;
}

.mr-150 {
    margin-left: 150px;
}

.mr-170 {
    margin-left: 170px;
}

.ml-0 {
    margin-right: 0;
}

.ml-10 {
    margin-right: 10px;
}

.ml-12 {
    margin-right: 12px;
}

.ml-15 {
    margin-right: 15px;
}

.ml-20 {
    margin-right: 20px;
}

.ml-30 {
    margin-right: 30px;
}

.ml-40 {
    margin-right: 40px;
}

.ml-50 {
    margin-left: 0;
    margin-right: 50px;
}

.ml-60 {
    margin-right: 60px;
}

.ml-70 {
    margin-right: 70px;
}

.ml-80 {
    margin-right: 80px;
}

.ml-90 {
    margin-right: 90px;
}

.ml-100 {
    margin-right: 100px;
}

.ml-110 {
    margin-right: 110px;
}

.ml-120 {
    margin-right: 120px;
}

.ml-125 {
    margin-left: 0;
    margin-right: 125px;
}

.ml-130 {
    margin-right: 130px;
}

.ml-140 {
    margin-right: 140px;
}

.ml-150 {
    margin-right: 150px;
}

.ml-285 {
    margin-left: 0;
    margin-right: 285px;
}

.pr-0 {
    padding-left: 0;
}

.pr-10 {
    padding-left: 10px;
}

.pr-15 {
    padding-left: 15px;
}

.pr-20 {
    padding-left: 20px;
    padding-right: 0px;
}

.pr-25 {
    padding-left: 25px;
}

.pr-30 {
    padding-left: 30px;
    padding-right: 0;
}

.pr-40 {
    padding-left: 40px;
    padding-right: 0;
}

.pr-50 {
    padding-left: 50px;
    padding-right: 0;
}

.pr-55 {
    padding-left: 55px;
}

.pr-60 {
    padding-left: 60px;
}

.pr-70 {
    padding-left: 70px;
    padding-right: 0;
}

.pr-80 {
    padding-left: 80px;
}

.pr-90 {
    padding-left: 90px;
    padding-right: 0;
}

.pr-100 {
    padding-left: 100px;
}

.pr-110 {
    padding-left: 110px;
}

.pr-120 {
    padding-left: 120px;
}

.pr-130 {
    padding-left: 130px;
}

.pr-140 {
    padding-left: 140px;
}

.pr-155 {
    padding-left: 155px;
}

.pr-180 {
    padding-left: 180px;
}

.pr-195 {
    padding-left: 195px;
}

.pr-215 {
    padding-left: 215px;
}

.pl-0 {
    padding-right: 0;
}

.pl-10 {
    padding-right: 10px;
}

.pl-15 {
    padding-right: 15px;
}

.pl-20 {
    padding-right: 20px;
    padding-left: 0px;
}

.pl-25 {
    padding-right: 25px;
}

.pl-30 {
    padding-right: 30px;
    padding-left: 30px;
}

.pl-40 {
    padding-right: 40px;
}

.pl-45 {
    padding-right: 45px;
}

.pl-50 {
    padding-left: 0;
    padding-right: 50px;
}

.pl-55 {
    padding-right: 55px;
}

.pl-60 {
    padding-left: 0;
    padding-right: 60px;
}

.pl-65 {
    padding-left: 0;
    padding-right: 65px;
}

.pl-70 {
    padding-right: 70px;
}

.pl-80 {
    padding-right: 80px;
}

.pl-90 {
    padding-left: 0;
    padding-right: 90px;
}

.pl-100 {
    padding-right: 100px;
}

.pl-110 {
    padding-right: 110px;
}

.pl-120 {
    padding-right: 120px;
}

.pl-125 {
    padding-left: 0;
    padding-right: 125px;
}

.pl-130 {
    padding-right: 130px;
}

.pl-140 {
    padding-right: 140px;
}

.pl-170 {
    padding-right: 170px;
}

.pl-155 {
    padding-right: 155px;
}

.pl-190 {
    padding-right: 190px;
    padding-left: 0;
}

.pl-195 {
    padding-right: 195px;
}

.pl-200 {
    padding-right: 200px;
    padding-left: 0;
}

[data-overlay]::before {
    background: #252525 none repeat scroll right 0;
    right: 0;
}

.header-search form button {
    border-radius: 5px 0 0 5px;
    left: 0;
    right: auto;
}

.main-menu {
    display: flex;
}

#scrollUp {
    background: #242424 none repeat scroll right 0;
    left: 12px;
}

#scrollUp:hover {
    background: #5a93d2 none repeat scroll right 0;
}

.notification-icon button {
    background: transparent none repeat scroll right 0;
    padding: 6px 5px 0 0;
}

.language-currency {
    margin-left: 42px;
    margin-right: 0;
}

.language-currency:last-child {
    margin-left: 0px;
}

.language-currency::before {
    left: -21px;
    right: auto;
}

.language-currency span {
    float: right;
    margin-left: 9px;
    margin-right: 0;
}

.lang-curr-dropdown {
    float: right;
}

.lang-curr-dropdown ul li a i {
    margin-right: 5px;
}

.lang-curr-dropdown ul li ul {
    background: #fff none repeat scroll right 0;
    right: 0;
}

.lang-curr-dropdown ul li ul li > a:hover {
    padding-right: 5px;
}

.header-contact-icon {
    float: right;
    margin-left: 14px;
    margin-right: 0;
}

.header-contact-content {
    float: right;
    text-align: right;
}

.middle-same {
    float: right;
    margin-left: 0;
    margin-right: 45px;
}

.logo.logo-mrg {
    float: right;
}

.middle-same:first-child,
.header-top-right ul li:first-child {
    margin-right: 0px;
}

button.icon-cart i.cart-bag {
    border-left: 1px solid #1d73d2;
    border-right: medium none;
    margin-left: 7px;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 0px;
}

button.icon-cart i.cart-down {
    margin-right: 5px;
}

button.icon-cart span.count-style {
    right: -13px;
}

.header-search form input {
    background: transparent none repeat scroll right 0;
    padding: 0px 16px 0 45px;
    border-radius: 7px 0 0 7px;
}

.shopping-cart-content {
    background: #fff none repeat scroll right 0;
    left: 0;
    right: auto;
    text-align: right;
}

.shopping-cart-content::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    left: 35px;
    right: auto;
}

.shopping-cart-img {
    margin-left: 15px;
    margin-right: 0;
}

.shopping-cart-total > h4 span {
    float: left;
}

.header-top-right {
    float: left;
}

.header-top-right ul li {
    float: right;
    margin-left: 0;
    margin-right: 30px;
}

.main-menu ul li {
    margin-left: 49px;
    margin-right: 0;
}

.main-menu ul li:last-child {
    margin-left: 0px;
    margin-right: 0;
}

.main-menu ul li a i {
    margin-right: 6px;
}

.main-menu nav > ul > li > ul.submenu {
    background: #fff none repeat scroll right 0;
    right: 0;
}

.main-menu nav > ul > li > ul.mega-menu {
    right: 0;
    padding: 33px 0 62px 0px;
    text-align: right;
    left: auto;
}

.main-menu ul li ul li {
    margin-left: 0;
}

.main-menu ul li ul li a,
.sidebar-menu ul li ul li a,
.category-menu ul li ul li a {
    text-align: right;
}

.main-menu ul li ul li a:hover {
    padding-left: 0;
    padding-right: 10px;
}

.main-menu nav > ul > li > ul.mega-menu > li > ul > li {
    border-left: 1px solid #ebebeb;
    border-right: medium none;
    float: right;
    margin-left: 16px;
    margin-right: 0;
}

.main-menu nav > ul > li > ul.mega-menu > li > ul > li:last-child {
    border-left: none;
}

.main-menu nav > ul > li > ul.mega-menu > li > ul > li ul li a span,
.sidebar-menu nav > ul > li > ul.mega-menu > li > ul > li ul li a span {
    left: -40px;
    right: auto;
}

.slider-content {
    text-align: right;
}

.owl-dot-style .owl-dot {
    background: #4b4f53 none repeat scroll right 0;
}

.owl-dot-style .owl-dot.active {
    background: #fff none repeat scroll right 0;
}

.owl-dot-style .owl-dots {
    right: 0px;
    left: 0;
}

.banner-hover::before,
.banner-hover::after {
    right: 0;
    left: 0;
}

.banner-hover:hover::before {
    right: 50%;
    left: 50%;
}

.product-tab-list::before {
    left: auto;
    right: 0;
}

.product-tab-list::after {
    left: 0;
    right: auto;
}

.devita-product-2 {
    background: #fff none repeat scroll right 0;
    text-align: right;
}

.product-slider-nav.nav-style,
.product-slider-nav-2.nav-style {
    float: left;
}

.product-slider-nav.nav-style div,
.product-slider-nav-2.nav-style div {
    left: 0;
    right: auto;
}

.nav-style.nav-center.nav-style-sunglass.owl-carousel .owl-nav div,
.nav-style.nav-center.nav-style-watch.owl-carousel .owl-nav div {
    left: 0;
    right: auto;
}

.nav-style.nav-center.nav-style-sunglass-2.owl-carousel .owl-nav div {
    left: 0;
}

.product-slider-nav.nav-style div.owl-prev,
.product-slider-nav-2.nav-style div.owl-prev {
    margin-left: 40px;
    margin-right: 0;
}

.product-slider-nav.nav-style div.owl-prev i,
.product-slider-nav-2.nav-style div.owl-prev i {
    display: inline-block;
    transform: rotate(180deg);
}

.product-slider-nav.nav-style div.owl-next i,
.product-slider-nav-2.nav-style div.owl-next i {
    display: inline-block;
    transform: rotate(180deg);
}

.product-img > span {
    left: auto;
    right: 15px;
}

.product-rating::before {
    right: 0;
    left: auto;
}

.product-rating::after {
    left: 0;
    right: auto;
}

.product-img-slider .cr-navigation {
    background: rgba(239, 239, 239, 0.9) none repeat scroll right 0;
    right: 10px;
}

.product-img-slider .cr-navigation.cr-navigation-next {
    right: auto;
    left: 10px;
}

.product-img-slider .cr-navigation:hover {
    background: rgba(3, 99, 205, 0.8) none repeat scroll right 0;
}

.section-border {
    margin-left: 94px;
    margin-right: 0;
    text-align: right;
}

.section-border::before {
    right: 0;
    left: auto;
}

.section-title-wrapper {
    float: right;
}

.product-tab-list-2 {
    float: left;
    padding: 0 20px 0 0px;
}

.section-title {
    float: right;
    padding-left: 30px;
    padding-right: 0;
}

.product-tab-list-2 a {
    margin-left: 0;
    margin-right: 15px;
}

.product-tab-list-2 a:first-child {
    margin-right: 0px;
}

.best-selling-pro-wrapper .product-img > span {
    left: auto;
    right: 20px;
}

.product-content.best-pro-content {
    padding: 13px 10px 5px 13px;
    text-align: right;
}

.nav-style.owl-carousel .owl-nav div {
    left: 0;
    right: auto;
}

.nav-style.owl-carousel .owl-nav div.owl-prev,
.featured-product-active.owl-carousel > .owl-nav div.owl-prev {
    left: 38px;
    right: auto;
}

.nav-style.owl-carousel .owl-nav div.owl-prev i,
.featured-product-active.owl-carousel > .owl-nav div.owl-prev i {
    transform: rotate(180deg);
    display: inline-block;
}

.nav-style.owl-carousel .owl-nav div.owl-next i,
.featured-product-active.owl-carousel > .owl-nav div.owl-next i {
    transform: rotate(180deg);
    display: inline-block;
}

.shop-service-content::before,
.shop-service-content-3::before {
    left: 0;
    right: auto;
}

.footer-map > a i {
    margin-left: 9px;
    margin-right: 0;
}

.social-icon ul li {
    margin: 0 0 10px 8px;
}

.footer-content ul li:hover a {
    padding-left: 0;
    padding-right: 5px;
}

.footer-tag ul li::before {
    left: -19px;
    right: auto;
}

.newsletter-img > img {
    margin: 0 0 0 30px;
}

.newsletter-style form input {
    background: transparent none repeat scroll right 0;
    padding: 0 10px 0 75px;
}

.subscribe-form .mc-form .clear {
    background: rgb(255, 255, 255) url("../../assets/img/icon-img/send.png") no-repeat scroll left 25px center;
    left: 0px;
    right: auto;
}

.subscribe-form .mc-form .clear:hover {
    background: rgb(221, 221, 221) url("../../assets/img/icon-img/send.png") no-repeat scroll left 25px center;
}

.header-middle-color-2 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
    border-right: none;
}

.owl-dot-style-2 .owl-dot {
    background: #d8d9d9 none repeat scroll right 0;
}

.owl-dot-style-2 .owl-dot.active {
    background: #0363cd none repeat scroll right 0;
}

.owl-dot-style-2 .owl-dots,
.owl-dot-style-4 .owl-dots,
.owl-dot-style-5 .owl-dots {
    right: 0px;
    left: 0;
}

.slider-banner-area .row {
    margin-right: -5px;
    margin-left: -5px;
}

.slider-banner-area .row div[class^="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.service-area .row {
    margin-right: -5px;
    margin-left: -5px;
}

.service-area .row div[class^="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

h4.sidebar-title {
    padding-left: 10px;
    padding-right: 0;
}

.related-product-area .section-border {
    margin-left: 85px;
    margin-right: 0;
}

.related-product-img {
    margin-left: 10px;
    margin-right: 0;
}

.related-product-wrapper .product-content {
    padding: 0 0 0 25px;
    text-align: right;
}

h4.sidebar-title.sidebar-title-width-2::before {
    left: -35px;
}

.single-product-img {
    margin-left: 10px;
    margin-right: 0;
}

.header-position {
    right: 0;
}

.main-menu.main-border nav > ul > li {
    margin-left: 0;
    padding-left: 0;
    padding-right: 25px;
}

.main-menu.main-border nav > ul > li.mega-menu-position {
    margin-left: 0px;
    padding-right: 0px;
}

.main-menu.main-border nav > ul > li > a {
    padding-left: 21px;
}

.main-menu.main-border nav > ul > li.mega-menu-position > a {
    padding-right: 25px;
    padding-left: 21px;
}

.main-menu.main-border nav > ul > li > a:before {
    right: 0;
}

.main-menu.main-border nav > ul > li > a.menu-border:after {
    left: 0;
}

.owl-dot-style-3 .owl-dots {
    right: 0;
    left: 0;
}

.owl-dot-style-3 .owl-dot {
    background: #297ad3 none repeat scroll right 0;
}

.owl-dot-style-3 .owl-dot.active {
    background: #fff none repeat scroll right 0;
}

.banner-mrg-right {
    margin-left: 5px;
}

.banner-mrg-left {
    margin-right: 5px;
}

.product-list ul li {
    padding: 0 15px 0 0;
}

.product-list ul li::before {
    right: 0;
}

.best-pro-action-2 a {
    margin: 0 0 0 7px;
}

.product-content.best-pro-content.best-selling-style-2 {
    padding: 40px 10px 5px 13px;
}

.best-selling-bundle-2 .row {
    margin-right: -10px;
    margin-left: -10px;
}

.best-selling-bundle-2 .row div[class^="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.subscribe-form-2 form input {
    background: transparent none repeat scroll right 0;
    padding-right: 0;
}

.banner-img.banner-mrg-left-2 {
    margin-right: -10px;
}

.header-middle-color-3 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.owl-dot-style-2.owl-dot-green .owl-dot.active {
    background: #0aa493 none repeat scroll right 0;
}

.devita-product-green .product-img-slider .cr-navigation:hover {
    background: rgba(10, 164, 147, 0.8) none repeat scroll right 0;
}

.madial-banner .row {
    margin-right: -10px;
    margin-left: -10px;
}

.madial-banner .row div[class^="col-"] {
    padding-right: 10px;
    padding-left: 10px;
}

.blog-meta ul li {
    margin-left: 15px;
    margin-right: 0;
}

.blog-meta ul li::before {
    left: -16px;
    right: auto;
}

.blog-readmore > a i {
    margin-right: 6px;
}

.blog-readmore {
    right: 0;
}

.header-middle-color-4 button.icon-cart i.cart-bag {
    border-left: 1px solid #3a3a3a;
}

.devita-product-red .product-img-slider .cr-navigation:hover {
    background: rgba(223, 33, 33, 0.8) none repeat scroll right 0;
}

.special-book-img {
    margin-left: 10px;
    margin-right: 0;
}

.special-book-wrapper .product-content {
    padding: 0;
    text-align: right;
}

.nav-style-3.owl-carousel > .owl-nav div {
    left: 0;
    right: auto;
}

.nav-style-3.owl-carousel .owl-nav div.owl-prev {
    left: 20px;
    right: auto;
}

.special-book-area .section-border {
    margin-left: 40px;
    margin-right: 0;
}

.sidebar-blog-wrapper {
    margin: 0 0 20px 25px;
}

.sidebar-blog-wrapper:last-child {
    margin: 0 0 0px 25px;
}

.sidebar-blog-img {
    margin-left: 18px;
    margin-right: 0;
}

.sidebar-blog .section-border {
    margin-left: 40px;
    margin-right: 0;
}

.nav-style-red .product-img-slider .cr-navigation:hover {
    background: rgba(223, 33, 33, 0.8) none repeat scroll right 0;
}

.header-top-red .lang-curr-dropdown ul li ul li > a:hover {
    padding-right: 5px;
}

.header-middle-color-5 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.slider-content-5 {
    margin-left: 0;
    margin-right: -60px;
}

.owl-dot-style-2.owl-dot-red .owl-dot.active {
    background: #df2121 none repeat scroll right 0;
}

.owl-dot-style-2.owl-dot-red .owl-dot {
    background: #b7bebe none repeat scroll right 0;
}

.timer-style-2 span p::before {
    right: 0;
}

.deals-content.text-center {
    margin: 85px 27px 0 -48px;
}

.deals-img {
    margin: 0 -29px 0 -5px;
}

.header-middle-bg-img .middle-same {
    margin-left: 0;
    margin-right: 25px;
}

.header-middle-bg-img .middle-same:first-child {
    margin-right: 0px;
}

.header-cart-coffee button.icon-cart i.cart-bag {
    border-left: 1px solid #322b2c;
}

.buy > a {
    float: left;
}

.slider-content-6.slider-negative-mrg {
    margin-right: -38px;
    margin-left: -37px;
}

.owl-dot-style-3.owl-dot-coffee .owl-dot.active {
    background: #a16c21 none repeat scroll right 0;
}

.owl-dot-style-3.owl-dot-coffee .owl-dot {
    background: #dedede none repeat scroll right 0;
}

.single-testimonial > h4 span {
    margin-right: 7px;
}

.testimonial-active .owl-dot {
    background: #38343c none repeat scroll right 0;
}

.testimonial-active .owl-dot.active {
    background: #a16c21 none repeat scroll right 0;
}

.testimonial-active {
    padding: 0 60px 0 40px;
}

.coffee-discount-btn a {
    float: left;
}

.header-search-2 form input {
    background: transparent none repeat scroll right 0;
    padding: 0 10px 0 40px;
}

.header-search-2 form button {
    left: 0;
    right: auto;
}

.nav-style.nav-center.owl-carousel .owl-nav div {
    left: 0;
}

.nav-style.nav-center.owl-carousel .owl-nav div.owl-prev {
    right: 0;
}

.deals-content.deals-content-2 {
    margin: 0 -40px 0 22px;
}

.deals-img.deals-img-2 {
    margin: 45px 0 0 35px;
}

.blog-categori {
    right: 0;
    left: 0;
}

#exampleCompare .close {
    float: left;
    left: 370px;
}

.table-content table td.compare-title h4 {
    text-align: right;
}

.table-content table td.compare-common,
.table-content table td.compare-title {
    text-align: right;
}

.modal .close {
    float: left;
    margin-left: 50px;
}

.sidebar-left-wrapper {
    background: #242424 none repeat scroll right 0;
    padding: 40px 40px 40px 0;
    text-align: right;
}

.sidebar-right-wrapper {
    border-right: 1px solid #2d2d2d;
    margin-left: 0;
    margin-right: 300px;
}

.sidebar-menu ul li a span {
    float: left;
    padding-left: 20px;
    transform: rotate(180deg);
}

.sidebar-menu nav > ul > li > ul.submenu,
.sidebar-menu nav > ul > li > ul.mega-menu {
    background: #fff none repeat scroll right 0;
    right: 100%;
}

.sidebar-menu nav > ul > li > ul.mega-menu {
    padding: 33px 50px 62px 30px;
}

.sidebar-menu nav > ul > li > ul.mega-menu > li > ul > li {
    border-left: 1px solid #ebebeb;
    float: right;
    margin-left: 16px;
    margin-right: 0;
    border-right: none;
}

.sidebar-menu nav > ul > li > ul.mega-menu > li > ul > li:last-child {
    border-left: none;
}

.sidebar-menu ul li ul li a:hover {
    padding-right: 10px;
}

.subscribe-form-3 form input {
    background: transparent none repeat scroll right 0;
    padding: 0 0 0 35px;
}

.subscribe-form-3 .mc-form .clear {
    background: rgba(0, 0, 0, 0) url("../../assets/img/icon-img/send-2.png") no-repeat scroll left right center;
    left: 0;
    right: auto;
}

.sidebar-social ul li {
    margin-left: 2px;
}

.sidebar-social ul li:last-child {
    margin-left: 0px;
}

.sidebar-social-copyright {
    padding: 150px 0 0 40px;
}

.header-search-3 {
    border-right: 1px solid #2d2d2d;
}

.header-search-3 form input {
    background: transparent none repeat scroll right 0;
    padding: 0 0px 0 30px;
}

.header-search-3 form button {
    left: 0;
    right: auto;
}

.header-setting {
    border-right: 1px solid #2d2d2d;
    border-left: none;
}

.setting-wrapper {
    background: #fff none repeat scroll right 0;
    left: 0;
    right: auto;
}

.single-setting-content ul li a:hover {
    padding-right: 5px;
}

.single-setting-content2 li {
    margin-left: 10px;
}

.single-setting-content2 li::before {
    left: -9px;
}

.watch-cart button.icon-cart span.count-style {
    right: -27px;
}

.watch-cart button.icon-cart i.cart-bag {
    border-left: 1px solid #323232;
}

.header-cart.watch-cart {
    border-right: 1px solid #2d2d2d;
    padding: 9px 57px 0 0;
}

.owl-dot-style.owl-dot-watch .owl-dot.active {
    background: #a8741a none repeat scroll right 0;
}

.owl-dot-style.owl-dot-watch .owl-dot {
    background: #3f3f3f none repeat scroll right 0;
}

.product-tab-list-3 a::before {
    left: -30px;
    right: auto;
}

.deals-content-3 {
    margin-right: -30px;
}

.subscribe-form-4 form input {
    background: #1f1f1f none repeat scroll right 0;
    padding: 0 20px 0 175px;
}

.subscribe-form-4 form .clear-3,
.subscribe-form-5 form .clear-4 {
    left: 0;
    right: auto;
}

.footer-contact-2 ul li::before {
    left: -19px;
    right: auto;
}

.header-search-4 form input {
    padding: 0 18px 0 50px;
}

.header-search-4 form button {
    left: 0;
    right: auto;
}

.construction-cart button.icon-cart span.count-style {
    right: -20px;
}

.construction-cart button.icon-cart i.cart-bag {
    border-left: 1px solid #4e4842;
}

.slider-single-img-1 img {
    left: -250px;
    right: auto;
}

.slider-single-img-2 > img {
    left: -72px;
    right: auto;
}

.slider-single-img-3 > img {
    left: 26px;
    right: auto;
}

.owl-dot-style.owl-dot-yellow .owl-dot.active {
    background: #f1ac06 none repeat scroll right 0;
}

.owl-dot-style.owl-dot-yellow .owl-dot {
    background: #dadada none repeat scroll right 0;
}

.devita-product-yellow .product-img-slider .cr-navigation:hover {
    background: rgba(241, 172, 6, 0.8) none repeat scroll right 0;
}

.construction-discount-btn .btn-style {
    float: left;
}

.subscribe-form-5 form input {
    padding: 0 20px 0 175px;
}

.middle-yellowgreen-color button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.owl-dot-style-2.owl-dot-yellowgreen .owl-dot {
    background: #464646 none repeat scroll right 0;
}

.owl-dot-style-2.owl-dot-yellowgreen .owl-dot.active {
    background: #fff none repeat scroll right 0;
}

.cycle-product .row {
    margin-right: 0px;
    margin-left: 0px;
}

.cycle-product .row div[class^="col-"] {
    padding-right: 0px;
    padding-left: 0px;
}

.devita-product-yellowgreen .product-img-slider .cr-navigation:hover {
    background: rgba(155, 183, 13, 0.8) none repeat scroll right 0;
}

.banner-content > h4::before {
    right: 0;
}

.product-slider-style-2 .devita-product-yellowgreen .product-img > span {
    right: 10px;
}

.custom-container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.header-middle-color-6 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.slider-banner {
    margin-left: 0;
    margin-right: -100px;
}

.devita-product-orange .product-img-slider .cr-navigation:hover {
    background: rgba(242, 100, 10, 0.8) none repeat scroll right 0;
}

.product-overview-content h3::before {
    right: 50%;
}

.header-search-5 form input {
    background: transparent none repeat scroll right 0;
    padding: 0 15px 0 50px;
}

.header-search-5 form button {
    background: transparent none repeat scroll right 0;
    left: 0;
    right: auto;
}

.header-middle-color-7 button.icon-cart span.count-style {
    right: -19px;
}

.header-middle-color-7 button.icon-cart i.cart-bag {
    border-left: 1px solid #d64d4d;
}

.header-bottom-red .main-menu ul li {
    margin-left: 40px;
    margin-right: 0;
}

.header-bottom-red .main-menu ul li ul li {
    margin-left: 0px;
}

.shop-service-border::before {
    left: -15px;
    right: auto;
}

.blog-content-4 {
    margin: 0 20px 0 21px;
    text-align: right;
}

.blog-meta-4 ul li {
    margin-left: 15px;
    margin-right: 0;
}

.blog-meta-4 ul li::before {
    left: -16px;
    right: auto;
}

.breadcrumb-content li {
    margin-left: 28px;
    margin-right: 0;
}

.breadcrumb-content li::before {
    left: -22px;
    right: auto;
}

.shop-catigory ul > li ul li:last-child {
    padding: 7px 15px 0 0;
}

.shop-catigory ul > li a i {
    float: left;
}

.shop-catigory ul > li > ul li {
    padding: 7px 15px 0 0;
}

.price_filter .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: #dbdbdb none repeat scroll right 0;
    margin-right: auto;
}

.price_filter .ui-slider-range {
    background: #0363cd none repeat scroll right 0;
}

.price_filter .ui-slider-handle.ui-state-default.ui-corner-all {
    background: #0363cd none repeat scroll right 0;
}

.price_slider_amount .label-input input {
    background: transparent none repeat scroll right 0;
    padding-right: 49px;
}

.sidebar-list-style ul li input {
    background: rgba(0, 0, 0, 0) none repeat scroll right 0;
    float: right;
    margin: 3px 0 0 12px;
    padding-right: 0;
}

.shop-tags li {
    margin: 0 0 11px 4px;
}

.grid-list-options {
    float: right;
    margin-left: 33px;
    margin-right: 0;
}

.view-mode a {
    margin: 0 0 0 10px;
}

.shorting-style {
    margin-left: 0;
    margin-right: 20px;
}

.product-shorting.shorting-style {
    margin-right: 0;
}

.shorting-style > label {
    margin: 0 0 0 11px;
}

.shorting-style select {
    background: #fff url("../../assets/img/icon-img/shop.png") no-repeat scroll left 10px center;
    padding-right: 10px;
}

#product-grid .row {
    margin-right: 0;
    margin-left: 0;
}

#product-grid .row div[class^="col"] {
    padding-right: 0px;
    padding-left: 0px;
}

.pagination-style li {
    margin: 0 0 0 8px;
}

.pagination-style li a.prev i {
    margin-left: 7px;
}

.pagination-style li a.next i {
    margin-right: 10px;
}

#product-list .product-list-wrapper .product-img {
    float: right;
    margin-left: 30px;
    margin-right: 0;
}

.product-dec-slider .product-dec-icon {
    left: auto;
    right: 60px;
}

.product-dec-slider .product-dec-icon.product-dec-next {
    right: auto;
    left: 60px;
}

.product-dec-slider a.slick-active:before,
.product-dec-slider-2 a.slick-active:before {
    right: 0;
    left: 0;
}

.zoompro-span > span {
    left: auto;
    right: 30px;
}

.pro-dec-review ul li {
    margin-left: 38px;
    margin-right: 0;
}

.pro-dec-review ul li:last-child {
    margin-left: 0px;
}

.pro-dec-review ul li::before {
    left: -21px;
    right: auto;
}

.pro-dec-review {
    margin: 0 35px 0 0;
}

.pro-dec-feature li input[type="checkbox"] {
    background: #ebebeb none repeat scroll right 0;
    margin: 0 0 0 13px;
    padding-right: 0;
}

.quality input {
    background: transparent none repeat scroll right 0;
}

.quality label {
    margin: 0 0 0 26px;
}

.quality {
    float: right;
    margin: 0 0 0 15px;
}

.pro-dec-categories li.categories-title {
    margin: 0 0 0 3px;
}

.pro-dec-social li {
    margin: 0 0 0 6px;
}

.ratting-author h3 {
    float: right;
}

.ratting-author span {
    float: right;
    margin-left: 0;
    margin-right: 15px;
}

.rating-form-style input,
.rating-form-style textarea {
    background: transparent none repeat scroll right 0;
}

.rating-form-style.form-submit input {
    background: #047afe none repeat scroll right 0;
}

.rating-form-style.form-submit input:hover {
    background: #454545 none repeat scroll right 0;
}

.ratting-star>span {
    margin-right: 5px;
}

.product-anotherinfo-wrapper li span {
    margin-left: 15px;
    margin-right: 0;
}

.product-anotherinfo-wrapper li {
    margin: 0 0 0 5px;
}

.pro-dec-btn {
    left: 0;
    right: auto;
}

.product-dec-slider-2 {
    float: right;
}

.zoompro-wrap.zoompro-2 {
    float: right;
}

.product-dec-slider-2 .product-dec-icon {
    left: auto;
    right: 50%;
    transform: translateX(50%);
}

.product-dec-slider-2.product-dec-right {
    float: left;
}

.is-affixed .inner-wrapper-sticky {
    padding-right: 15px;
    padding-left: 15px;
}

.sidebar-active.col-lg-6.is-affixed {
    padding-right: 0px;
    padding-left: 0px;
}

.sidebar-active.col-lg-6 {
    padding-right: 15px;
    padding-left: 15px;
}

.product-details-slider-active.owl-carousel .owl-nav div {
    left: 0;
    right: auto;
}

.product-details-slider-active.owl-carousel .owl-nav div.owl-prev {
    right: 0;
    left: auto;
}

.slider-pro-content .pro-dec-feature > ul {
    text-align: right;
}

.product-video.pro-video-style-2 a i {
    margin-left: 2px;
}

.pro-dec-cart input {
    background: transparent none repeat scroll right 0;
}

.cart-clear > button {
    margin-left: 27px;
    margin-right: 0;
}

h4.cart-bottom-title {
    padding-left: 18px;
    padding-right: 0;
}

.title-wrap::before {
    right: 0;
}

.tax-select select {
    background: #fff url("../../assets/img/icon-img/cart.png") no-repeat scroll left 18px center;
    padding: 0 15px 0 50px;
}

.tax-select input {
    background: transparent none repeat scroll right 0;
}

.discount-code input {
    background: transparent none repeat scroll right 0;
    padding-right: 10px;
}

.grand-totall > h5 span {
    float: left;
}

.total-shipping > ul {
    padding: 19px 40px 0 0;
}

.total-shipping ul li span {
    float: left;
}

.total-shipping ul li input {
    background: #e9e9e9 none repeat scroll right 0;
    margin-left: 10px;
}

h4.grand-totall-title span {
    float: left;
}

.login-form-container {
    background: transparent none repeat scroll right 0;
    text-align: right;
}

.login-toggle-btn>a {
    float: left;
}

.login-register-tab-list.nav a::before {
    left: -2px;
    right: auto;
}

h5.panel-title a::before {
    left: 10px;
    right: auto;
}

h5.panel-title a.collapsed::after {
    left: 10px;
    right: auto;
}

h5.panel-title span {
    right: 20px;
}

.register-us ul li input {
    background: #d7d7d7 none repeat scroll right 0;
    margin: 0 0 0 10px;
}

.register-us > ul {
    padding: 7px 13px 16px 0;
}

.register-us-2 > ul {
    padding: 9px 13px 0 0;
}

.login-form input {
    background: transparent none repeat scroll right 0;
}

.billing-info input,
.billing-select select {
    background: transparent none repeat scroll right 0;
}

.single-ship>input {
    float: right;
    margin-left: 10px;
    margin-right: 0px;
}

.order-review table tfoot tr td {
    border-left: 0 solid #f2f2f2;
    text-align: left;
}

.entries-wrapper:before {
    right: 50%;
}

.contact-tab-list li a::before {
    float: right;
    margin-left: 6px;
}

.single-recent-post .product-content {
    padding: 0 10px 0 0;
    text-align: right;
}

.blog-dec-tags ul li::after {
    left: 6px;
    right: auto;
}

.blog-dec-tags ul li a {
    margin-left: 18px;
    margin-right: 0;
}

.blog-dec-social ul li {
    margin-left: 0;
    margin-right: 14px;
}

.blog-comment-img {
    margin-left: 28px;
    margin-right: 0;
}

.blog-reply-wrapper form input,
.blog-reply-wrapper form textarea {
    background: #f7f7f7 none repeat scroll right 0;
}

.overview-content-2 > h2::before {
    right: 0;
    left: auto;
}

.team-action {
    left: 20px;
    right: auto;
}

.team-action a {
    right: 30px;
    left: auto;
}

.team-wrapper:hover .team-action a {
    left: auto;
    right: 0;
}

h4.section-title-about::before {
    right: 0;
    left: 0;
}

.testimonial-active.about-testi-active .owl-dot.active {
    background: #0363cd none repeat scroll right 0;
}

.header-middle-color-8 button.icon-cart i.cart-bag {
    border-left: 1px solid #fff;
    border-right: medium none navy;
}

.social-icon ul li:last-child {
    margin: 0 0 10px 0px;
}

.services-center-text {
    text-align: right;
}

.newsletter-icon-img {
    margin-left: 30px;
    margin-right: 0;
}

.newsletter-red-style .subscribe-form .mc-form .clear {
    background: rgb(255, 255, 255) url("../../assets/img/icon-img/send-3.png") no-repeat scroll left 25px center;
}

.newsletter-red-style .subscribe-form .mc-form .clear:hover {
    background: rgb(221, 221, 221) url("../../assets/img/icon-img/send-3.png") no-repeat scroll left 25px center;
}

.header-middle-color-9 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.slider-content-12 {
    padding-right: 70px;
    padding-left: 0;
}

.owl-dot-style-2.owl-dot-limegreen .owl-dot.active {
    background: #62ab00 none repeat scroll right 0;
}

.devita-product-limegreen .product-img-slider .cr-navigation:hover {
    background: rgba(98, 171, 0, 0.8) none repeat scroll right 0;
}

.newsletter-limegreen-style .subscribe-form .mc-form .clear {
    background: rgb(255, 255, 255) url("../../assets/img/icon-img/send-4.png") no-repeat scroll left 25px center;
}

.newsletter-limegreen-style .subscribe-form .mc-form .clear:hover {
    background: rgb(221, 221, 221) url("../../assets/img/icon-img/send-4.png") no-repeat scroll left 25px center;
}

.header-middle-petmarket .middle-same {
    margin-left: 0;
    margin-right: 25px;
}

.header-middle-color-10 button.icon-cart i.cart-bag {
    border-left: 1px solid #ab7593;
}

.slider-content-13.slider-negative-mrg-2 {
    margin-left: 0;
    margin-right: -73px;
}

.owl-dot-style-2.owl-dot-yellow .owl-dot.active {
    background: #f5a001 none repeat scroll right 0;
}

.testimonial-active.petmarket-testi .owl-dot.active {
    background: #873964 none repeat scroll right 0;
}

.testimonial-active.petmarket-testi .owl-dot {
    background: #606b78 none repeat scroll right 0;
}

.owl-dot-style.owl-dot-goldenbell .owl-dot.active {
    background: #aa8d74 none repeat scroll right 0;
}

.furniture-best-selling .product-tab-list-2 {
    float: right;
    padding: 0 0px 0 20px;
}

.header-middle-color-12 .header-search-2 form button {
    border-radius: 3px 0 0 3px;
}

.header-middle-color-12 button.icon-cart i.cart-bag {
    border-left: 1px solid #725766;
}

.owl-dot-style-2.owl-dot-bouquet .owl-dot.active {
    background: #624455 none repeat scroll right 0;
}

.owl-dot-style-2.owl-dot-bouquet .owl-dot {
    background: #d2d2d2 none repeat scroll right 0;
}

.product-tab-list.tab-list-bouquet a::before {
    left: -8px;
    right: auto;
}

.devita-product-bouquet .product-img-slider .cr-navigation:hover {
    background: rgba(98, 68, 85, 0.8) none repeat scroll right 0;
}

.newsletter-black-color .subscribe-form .mc-form .clear {
    background: rgb(98, 68, 85) url("../../assets/img/icon-img/send-5.png") no-repeat scroll left 25px center;
}

.newsletter-black-color .subscribe-form .mc-form .clear:hover {
    background: rgb(0, 0, 0) url("../../assets/img/icon-img/send-5.png") no-repeat scroll left 25px center;
}

.menu-categories {
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
}

.menu-categories > h3 a i {
    padding-left: 15px;
    padding-right: 0;
}

.category-menu {
    right: 0;
}

.category-menu nav > ul > li > a {
    margin-right: 30px;
    margin-left: 20px;
}

.category-menu nav > ul > li > a > i {
    float: left;
    transform: rotate(180deg);
}

.category-menu nav > ul > li > ul.category-mega-menu {
    right: 100%;
    padding: 33px 30px 37px 30px;
    text-align: right;
}

.category-menu nav > ul > li > ul.category-mega-menu > li {
    border-left: 1px solid #ebebeb;
    float: right;
    margin-left: 16px;
    padding-right: 30px;
    padding-left: 0;
    margin-right: 0;
    border-right: none;
}

.category-menu nav > ul > li > ul.category-mega-menu > li:last-child {
    border-left: none;
}

.category-menu nav > ul li ul.category-small-device {
    padding-right: 45px;
    padding-left: 20px;
}

.category-menu nav > ul li ul.category-small-device li a i {
    float: left;
}

.category-menu nav > ul li ul.category-small-device li ul {
    padding-right: 25px;
}

.slider-content.toy-slider-content {
    margin-right: -75px;
    margin-left: 0;
}

.owl-dot-style-4 .owl-dot {
    background: #c49638 none repeat scroll right 0;
}

.owl-dot-style-4.owl-dot-red .owl-dot.active {
    background: #df2121 none repeat scroll right 0;
}

.service-content-4-content {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
}

.deals-content-white .deals-img {
    margin: 0 -40px 0 -5px;
}

.deals-content-white .deals-content {
    margin: 0 27px 0 -48px;
}

.header-middle-color-13.header-search form input {
    background: #fff none repeat scroll right 0;
    border-radius: 5px 5px 5px 5px;
}

.header-middle-color-13 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.owl-dot-style-2.owl-dot-persiangreen .owl-dot.active {
    background: #fcb800 none repeat scroll right 0;
}

.newsletter-persiangreen-style .subscribe-form .mc-form .clear {
    background: rgb(252, 184, 0) url("../../assets/img/icon-img/send-5.png") no-repeat scroll left 25px center;
}

.newsletter-persiangreen-style .subscribe-form .mc-form .clear:hover {
    background: rgb(255, 255, 255) url("../../assets/img/icon-img/send-2.png") no-repeat scroll left 25px center;
}

.header-middle-color-14 button.icon-cart span.count-style {
    right: -19px;
}

.header-middle-color-14 button.icon-cart i.cart-bag {
    border-left: 1px solid #e1e1e1;
}

.owl-dot-style-5 .owl-dot {
    background: #b0a088 none repeat scroll right 0;
}

.owl-dot-style-5.owl-dot-red .owl-dot.active {
    background: #ee3875 none repeat scroll right 0;
}

.banner-service {
    right: 0;
    left: 0;
}

.banner-text {
    right: 0;
    left: 0;
}

.header-middle-color-15 .logo {
    float: right;
    margin-left: 130px;
    margin-right: 0;
}

.header-middle-color-2.header-middle-color-15 button.icon-cart i.cart-bag {
    border-left: 1px solid #ebebeb;
}

.shoe-deal-area .timer-style-1 {
    text-align: right;
}

.shoe-deal-area .product-content.best-pro-content.best-selling-style-2 {
    padding: 18px 10px 25px 13px;
}

.copyright.copyright-construction.footer-black-color.footer-mrg.copyright-center {
    text-align: right;
}

.connect-content,
.footer-widget,
.newsletter-content,
.slider-content-2,
.single-product-wrapper .product-content,
.sidebar-blog-content,
.coffee-discount-content,
.slider-content-9,
.banner-content,
.slider-content-10,
.blog-content-3,
.slider-content-4,
.blog-wrapper,
.slider-content-7,
.blog-content-2,
.copyright.copyright-construction,
.slider-content-11,
.blog-content-5,
.copyright-goldenbell,
.cate-menu-nav,
.copyright-bouquet,
.blog-content-6,
.slider-content-underware,
.copyright-pink,
.overview-content-2,
.breadcrumb-content,
.shop-catigory,
.single-blog-wrapper,
.blog-comment-wrapper,
.blog-reply-wrapper,
.shop-widget,
.cart-tax,
.grand-totall,
.discount-code-wrapper,
h3.page-title,
.checkout-progress,
.checkout-wrapper,
.contact-page-title,
.contact-information,
.contact-tab-list,
.product-details-content,
.product-description-wrapper,
.product-anotherinfo-wrapper,
.rattings-wrapper,
.ratting-form-wrapper,
.product-list-content,
.shop-sidebar-wrapper,
.blog-slider-active-5 .blog-meta {
    text-align: right;
}

#contact-form {
    text-align: right;
}

.modal-body .table-responsive {
    text-align: right;
}

.main-menu.text-center {
    justify-content: center;
}

.menu-jewelry .main-menu ul li:last-child {
    margin-left: 24px;
}

.blog-area.mrg-top-md .mb-40,
.Best-selling-area .mb-40 {
    text-align: right;
}

.blog-slider-active .blog-wrapper {
    margin-left: 1px;
}

.header-middle-sports .logo {
    text-align: right;
}

.construction-discount-content {
    text-align: right;
}

.single-pro-details {
    margin-left: 1px;
}

.lang-curr-dropdown ul li ul li > a {
    text-align: right;
}


/* large desktop :1366px. */

@media (min-width: 1200px) and (max-width: 1500px) {
    .deals-img {
        margin: 0 0 0 -5px;
    }
    .deals-content.text-center {
        margin: 85px 27px 0 0;
    }
    .sidebar-social-copyright {
        padding: 30px 0 0 40px;
    }
    .sidebar-left-wrapper {
        padding: 20px 20px 40px 0;
    }
    .slider-single-img-1 img {
        bottom: 0;
        left: 0;
    }
    .owl-carousel .owl-item .slider-single-img-1 img {
        width: 710px;
    }
    .slider-single-img-2 > img {
        left: 0;
    }
    .shoe-menu.main-menu ul li {
        margin-left: 15px;
        margin-right: 0;
    }
    .header-middle-color-15 .logo {
        margin-left: 20px;
    }
    .shoe-header .middle-same {
        margin-left: 0;
        margin-right: 20px;
    }
    .main-menu.shoe-menu ul li:last-child {
        margin-left: 0;
        margin-right: auto;
    }
}


/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1199px) {
    .middle-same {
        margin-right: 10px;
    }
    .main-menu ul li {
        margin-left: 17px;
    }
    .related-product-wrapper .product-content {
        padding: 0;
    }
    h4.sidebar-title {
        padding-left: 4px;
    }
    .section-title {
        padding-left: 10px;
    }
    .main-menu.main-border nav > ul > li > a {
        padding-left: 6px;
    }
    .main-menu.main-border nav > ul > li {
        padding-right: 15px;
    }
    .book-offer.pl-50 {
        padding-right: 0;
    }
    .connect-area.bg-img {
        background-position: 34% center;
    }
    .deals-img {
        margin: 0 0 0 -5px;
    }
    .deals-content.text-center {
        margin: 85px 27px 0 0;
    }
    .header-middle-bg-img .middle-same {
        margin-right: 10px;
    }
    button.icon-cart span.count-style {
        right: -7px;
    }
    .testimonial-active .owl-dots {
        margin: 10px 0 0;
    }
    .header-middle-color-7 button.icon-cart span.count-style {
        right: -13px;
    }
    .header-bottom-red .main-menu ul li {
        margin-left: 15px;
    }
    .construction-cart button.icon-cart span.count-style {
        right: -10px;
    }
    .social-icon ul li {
        margin: 0 0 10px 5px;
    }
    .sidebar-left-wrapper {
        padding: 10px 20px 10px 0;
    }
    .sidebar-right-wrapper {
        margin-right: 230px;
    }
    .sidebar-social-copyright {
        padding: 20px 0 0 25px;
    }
    .watch-header-top .language-currency {
        margin-left: 10px;
        margin-right: 0;
    }
    .watch-header-top .header-search-3 {
        padding: 0 10px;
    }
    .header-cart.watch-cart {
        padding: 9px 40px 0 0;
    }
    .pl-190 {
        padding-right: 30px;
    }
    .deals-content-3 {
        margin-right: 0;
    }
    .slider-single-img-1 img {
        left: 0;
    }
    .slider-single-img-2 > img {
        left: 0;
    }
    .slider-single-img-3 > img {
        left: 0;
    }
    .pl-125 {
        padding-right: 60px;
    }
    .header-middle-petmarket .middle-same {
        margin-right: 10px;
    }
    .header-middle-petmarket .middle-same:first-child {
        margin-right: 0;
    }
    .shoe-header .header-cart.middle-same {
        float: left;
    }
    .main-menu.shoe-menu ul li:last-child {
        margin-left: 0;
    }
    .main-menu.shoe-menu nav > ul > li:last-child > ul.submenu {
        left: 0;
        right: auto;
    }
    .main-menu.shoe-menu nav > ul > li > ul.submenu {
        right: -94px;
    }
    .slider-content.pl-200 {
        padding-left: 0;
        padding-right: 15px;
    }
    .product-dec-slider .product-dec-icon {
        right: 0;
    }
    .product-dec-slider .product-dec-icon.product-dec-next {
        left: 0;
    }
    .main-menu.shoe-menu ul li:last-child {
        margin-left: 0;
        margin-right: auto;
    }
    .main-menu nav > ul > li > ul.mega-menu > li > ul > li ul li a span,
    .sidebar-menu nav > ul > li > ul.mega-menu > li > ul > li ul li a span {
        left: -33px;
    }
}


/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .ml-285 {
        margin-right: 0;
    }
    .middle-same {
        margin-right: 10px;
    }
    .header-top-right ul li {
        margin-right: 15px;
    }
    .connect-area.bg-img {
        background-position: 40% center;
    }
    .product-tab-list-2 a {
        margin-right: 2px;
    }
    .product-tab-list-2 {
        padding: 0;
    }
    .section-border {
        margin-left: 82px;
    }
    .section-title {
        padding-left: 17px;
    }
    .product-content.best-pro-content {
        padding: 13px 10px 18px 13px;
    }
    .newsletter-from-close {
        margin: 20px 0 0;
    }
    button.icon-cart span.count-style {
        right: -5px;
    }
    .book-offer.pl-50 {
        text-align: right !important;
        padding-right: 0;
    }
    .connect-area.bg-img {
        background-position: 15% center;
    }
    .slider-content-5 {
        margin-right: 0;
    }
    .deals-content.text-center {
        margin: 0;
    }
    .header-middle-bg-img .middle-same {
        margin-right: 10px;
    }
    .testimonial-active {
        padding: 0;
    }
    .header-top-right.pr-30 {
        padding-left: 10px;
    }
    .header-top-left.pl-30 {
        padding-right: 10px;
    }
    .slider-banner {
        margin-right: 0;
    }
    .header-contact-search-wrapper.f-right {
        float: right;
    }
    .header-middle-sports .header-search form input {
        width: 230px;
    }
    .deals-sunglass .deals-img.deals-img-2 {
        margin: 45px 0 0;
    }
    .deals-sunglass .deals-content {
        margin: 30px 0 0;
    }
    .sidebar-right-wrapper {
        margin-right: 0px;
    }
    .watch-header-top .language-currency {
        margin-right: 0px;
        margin-left: 10px;
    }
    .watch-header-top .header-search-3 {
        padding: 0 14px;
    }
    .pl-190 {
        padding-left: 0;
        padding-right: 40px;
    }
    .deals-content-3 {
        margin-right: 0px;
    }
    .blog-slider-active-watch .blog-content-2 > h4 {
        margin: 0 0px 9px 70px;
    }
    .construction-cart button.icon-cart span.count-style {
        left: auto;
        right: 1px;
    }
    .slider-single-img-1 img {
        left: 0;
    }
    .slider-single-img-3 > img {
        left: 0;
    }
    .slider-single-img-2 > img {
        left: 0;
    }
    .construction-discount-content.pl-90 {
        padding-left: 0;
        padding-right: 20px;
    }
    .construction-discount-btn.pr-90 {
        padding-left: 20px;
        padding-right: 0;
    }
    .pl-125 {
        padding-right: 30px;
    }
    .services-center-text {
        padding-left: 0;
    }
    .newsletter-icon-img {
        margin-left: 12px;
    }
    .header-middle-petmarket .middle-same {
        margin-right: 10px;
    }
    .buy > a {
        float: inherit;
    }
    .slider-content-13.slider-negative-mrg-2 {
        margin-right: 0;
    }
    .slider-content-12 {
        padding-right: 0px;
    }
    .shoe-header .header-cart.middle-same {
        float: left;
    }
    .shoe-slider .pl-200 {
        padding-right: 0;
    }
    .category-menu nav > ul > li > a > i {
        transform: rotate(0deg);
    }
    .slider-content.toy-slider-content {
        margin-right: 0px;
    }
}


/* small mobile :320px. */

@media (max-width: 767px) {
    .header-top-right {
        float: inherit;
    }
    .header-top-right ul li {
        margin-right: 5px;
    }
    .shopping-cart-content {
        left: 50%;
    }
    .middle-same {
        margin-right: 0;
    }
    .shopping-cart-content::after {
        left: 50%;
    }
    .connect-area.bg-img {
        background-position: 17% center;
    }
    .best-selling-area .section-border {
        margin-left: 0;
    }
    .best-selling-area .section-title-wrapper {
        float: inherit;
    }
    .product-tab-list-2 {
        float: inherit;
        padding: 9px 0 0;
    }
    .best-selling-area .section-title {
        float: inherit;
    }
    .best-selling-active-2.nav-style.owl-carousel .owl-nav div.owl-prev,
    .best-selling-active.nav-style.owl-carousel .owl-nav div.owl-prev {
        left: auto;
        right: 0;
    }
    .newsletter-img > img {
        margin: 0 0 0 20px;
    }
    .lang-curr-dropdown ul li ul {
        right: -40px;
        left: auto;
    }
    .single-slider.pl-60 {
        padding-left: 0px;
        padding-right: 20px;
    }
    .deals-wrapper .product-img > span {
        right: auto;
    }
    .product-content.best-pro-content {
        padding: 13px 10px 20px 13px;
    }
    .newsletter-icon-img {
        margin-left: 15px;
    }
    .newsletter-content-wrapper,
    .newsletter-from-close {
        float: inherit;
    }
    .book-offer.pl-50 {
        padding-right: 0;
    }
    .slider-content-5 {
        margin-right: 0;
    }
    .deals-img {
        margin: 0;
    }
    .deals-content.text-center {
        margin: 30px 0 0;
    }
    .header-top-left.pl-30 {
        padding-right: 0;
    }
    .header-top-right.pr-30 {
        padding-left: 0;
    }
    .header-middle-bg-img .middle-same {
        margin-right: 0px;
    }
    .buy > a {
        float: inherit;
    }
    .product-slider-nav-2.nav-style.nav-style-res div.owl-prev,
    .product-slider-nav.nav-style.nav-style-res div.owl-prev {
        left: auto;
        margin-right: 0;
        right: 0;
    }
    .testimonial-active {
        padding: 30px 0 40px;
    }
    .product-content.best-pro-content.best-selling-style-2 {
        padding: 40px 10px 45px 13px;
    }
    .coffee-discount-content.pl-60 {
        padding: 0 20px 20px 10px;
    }
    .coffee-discount-btn.mt-10.pr-70 {
        float: right;
        padding: 0 20px;
    }
    .cycle-slider .single-slider.pl-45 {
        padding-right: 0;
    }
    .res-padding-orange {
        padding: 20px 10px;
    }
    .slider-banner {
        margin-right: 0;
    }
    .sidebar-left-wrapper {
        display: none;
    }
    .sidebar-right-wrapper {
        margin-right: 0;
    }
    .pl-190 {
        padding-right: 15px;
    }
    .deals-content-3 {
        margin-right: 0px;
    }
    .newsletter-watch .subscribe-form-4 form input {
        padding: 0 20px 0 95px;
    }
    .footer-contact-2 ul li::before {
        left: -5px;
    }
    .slider-single-img-1 img,
    .slider-single-img-3 > img,
    .slider-single-img-2 > img {
        left: auto;
        right: 0;
    }
    .construction-discount-content.pl-90 {
        padding: 0 20px 15px 10px;
    }
    .construction-discount-btn .btn-style {
        float: right;
        margin-left: 0;
        margin-right: 20px;
    }
    .slider-content-11.pl-125 {
        padding-right: 15px;
        padding-left: 0px;
    }
    .services-center-text.pr-50 {
        padding-left: 0;
    }
    .section-border {
        margin-left: 0px;
    }
    .furniture-best-selling .product-tab-list-2 {
        float: inherit;
        padding: 0 0 15px;
        text-align: center;
    }
    .furniture-best-selling .product-tab-list-2 a h4 {
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 5px;
    }
    .footer-widget {
        text-align: center;
    }
    .copyright-goldenbell {
        text-align: center;
    }
    .header-middle-petmarket .middle-same {
        margin-right: 0;
    }
    .slider-content-13.slider-negative-mrg-2 {
        margin-right: 0;
    }
    .slider-content-12 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .shoe-slider .pl-200 {
        padding-right: 0;
    }
    .category-menu nav > ul > li > a > i {
        transform: rotate(0deg);
    }
    .slider-content.toy-slider-content {
        margin-right: 0px;
    }
    .blog-slider-active-2.nav-style.owl-carousel .owl-nav div {
        top: -68px;
    }
    .blog-slider-active-3.nav-style.owl-carousel .owl-nav div {
        top: -62px;
    }
    .blog-meta ul li {
        margin-left: 15px;
        margin-right: 0;
    }
    .blog-meta ul li:last-child {
        margin-left: 0px;
    }
    .shop-topbar-wrapper {
        text-align: right;
    }
    .pagination-total-pages {
        text-align: right;
    }
    .pagination-style li {
        margin: 5px 4px;
    }
    #product-list .product-list-wrapper .product-img {
        float: inherit;
        margin-left: 0;
        margin-right: 0;
    }
    .product-dec-slider .product-dec-icon {
        right: 0;
    }
    .product-dec-slider .product-dec-icon.product-dec-next {
        left: 0;
    }
    .pro-dec-review {
        margin: 5px 0 0;
    }
    .quality {
        margin: 0 0 15px;
        float: inherit;
    }
    .pro-dec-social li {
        margin: 0 0 9px 6px;
    }
    .ratting-author.f-right {
        float: right;
        margin: 5px 0 10px;
    }
    .cart-shiping-update-wrapper {
        text-align: right;
    }
    h5.panel-title a {
        padding: 20px 38px 20px 25px;
    }
    .single-comment-wrapper.mt-50.ml-125 {
        margin-right: 0;
    }
    .copyright.copyright-construction.footer-black-color.footer-mrg.copyright-center,
    .copyright.copyright-construction {
        text-align: center;
    }
    .product-overview-content h3::before {
        left: 50%;
        right: auto;
    }
    .payment-icon.f-right {
        float: inherit;
        text-align: center;
    }
    .copyright-pink {
        text-align: center;
    }
    .product-shorting.shorting-style {
        margin-left: 10px;
    }
    .product-sorting-wrapper {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .team-action {
        left: 20px;
        right: auto;
    }
}


/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .header-top-right ul li {
        margin: 0 5px;
    }
}